a {
    color: black;
    text-decoration: none;
}

h4 {
    display: inline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  margin: 0 5px 0 5px;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.text {
    margin: 10px 0px 10px 0px ;
    text-align: center;
}

.white {
    border : 10px darkgray;
}

.front {
    color:cornflowerblue;
}


  
.fit-image{
    width: 100%;
    object-fit: cover;
    }

/* Fade in */

.sub_menu_cibo {
    border: none;
    color: rgb(0, 0, 0);
    size: 1cm;
  }

.sub_menu_cibo:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 2px 8px rgba(0,0,0,.06);
}

.popupphoto {
  border: none;
}

.idx_menu:hover{
    display: block;
    background: #eee;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
 
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: auto;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  
  .vertical-left {
    border-left: thick solid yellow;
    padding-left: 5px;
  }

  .vertical-right {
    border-right: thick solid yellow;
    padding-right: 5px;
  }

  /* navbar becomes mobile sidebar under lg breakpoint */
@media (max-width: 992px) {
    
  .navbar-collapse.collapsing .navbar-nav {
      display: block;
      overflow-x:hidden;
      position: fixed;
      top: 1.75cm;
      bottom: 0;
      left: -45%;
      transition: all 0.2s ease;
      padding: 5px;
      background-color: rgba(256,256,256, 1)
  }

  .navbar-collapse.show .navbar-nav {
      position: fixed;
      overflow-x:hidden;
      top: 1.75cm;
      bottom: 0;
      left: 0;
      flex-direction: column;
      height: auto;
      width: 30%;
      transition: left 0.35s ease;
      padding: 3px;
      padding-top: 15px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.11);
      background-color: rgba(256,256,256, 1)
  }
}


.navigation--inline ul {
  display: flex;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.textheader{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
  font-size: 4.5vw; 
  font-weight: 700; 
  line-height: 64px; 
  line-height: 6vw;
  margin: 0 0 0; 
  text-align: center; 
  text-transform: uppercase;
  text-rendering: optimizeLegibility; 
  white-space: nowrap;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c2c2c;
  letter-spacing: .02em;
  text-shadow: 
    7px 7px 0px rgba(0, 0, 0, 0.1);
}

#header{
  background-image: url("./../images/home_background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center  ;
  background-position-y: 11rem;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  }

  .scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
  }


  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-2-11 23:32:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top {
    --offset: 20px; 
  
    position: sticky;
    bottom: 20px;      
    margin-left: 20px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
  
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: rgb(82, 49, 114);
    border-radius: 100px;
    white-space: nowrap;
  }

  .top:hover {
    font-weight: bold;
  }