a {
    color: black;
    text-decoration: none;
}

h5 {
    display: inline;
}


body {
    background-color:white;
    margin: 0 5px 0 5px;
}


.sub_menu {
    text-align: center;
}

.text {
    margin: 10px 0px 10px 0px ;
    text-align: center;
}

.white {
    border : 10px darkgray;
}

.front {
    color:cornflowerblue;
}

#more {display: none;}
#Casa {display: inline;}
#Fuori {display: none;}
#Online {display: none;}
  
.fit-image{
    width: 100%;
    object-fit: cover;
    }

/* Fade in */

.sub_menu_cibo {
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.idx_menu:hover{
    display: block;
    background: #eee;
}

